



Django==4.1.1

en-core-web-lg @ https://github.com/explosion/spacy-models/releases/download/en_core_web_lg-3.7.1/en_core_web_lg-3.7.1-py3-none-any.whl
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl
entrypoints
et-xmlfile
executing
fastapi
fastjsonschema
filelock
Flask
Flask-Cors
Flask-Migrate
Flask-Script
Flask-SQLAlchemy
flatbuffers


gunicorn==22.0.0

ipykernel
ipython
ipython-genutils
ipywidgets
iso8601
isoduration
itsdangerous
jax
jedi
Jinja2
joblib
Js2Py
jsonpointer
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-events
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab-pygments
jupyterlab-widgets

mathparse
matplotlib
matplotlib-inline
mdurl
missingno
mistune
ml-dtypes

nltk

numpy

pandas



pymongo

scikit-learn==1.2.2
SQLAlchemy






